RewriteEngine on

RewriteRule admin$ source/view/admin.php

RewriteRule login$ source/view/login.php

#RewriteRule admin-([A-Za-z0-9-]+)$ source/view/admin.php?name=$1

#DirectoryIndex index.php source/view/login.php